{% extends 'core/base_administration.html' %}

{% load static %}

{% block extra_head %}
href="{% static 'core/css/us.css' %}"
{% endblock %}

{% block title %}Donde comer {% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5">
    </div>
    <a href="{% url 'eats:eat-list'%}" class="btn btn-info mb-2 mr-5">Volver</a>
    <a href="{% url 'eats:eat-update' eat.id_eat %}" class="btn btn-info mb-2"><i class='bx bxs-eraser'></i> Editar restaurant</a>
    <a href="{% url 'eats:eat-delete' eat.id_eat %}" class="btn btn-info mb-2"><i class='bx bxs-trash-alt'></i> Borrar restaurant</a>
    <div class="row">
        <div class="col-12">
            <table class="table" style="border: 2px solid #d6d3d3 ;">
                <thead>
                    <tr>
                        <th class="bg-light" scope="col">Nombre restaurant</th>
                        <th scope="col">Direccion</th>
                        <th class="bg-light" scope="col">Imagen</th>
                        <th scope="col">Creado</th>
                        <th class="bg-light" scope="col">Ultima Actualización</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-light">{{eat.name}}</td>
                        <td>{{eat.address}} </td>
                        <td>
                            {% if eat.mainImage %}
                                <img src="{{eat.mainImage.url}}" class="img-fluid" style="width: 220px;">
                            {% else %}
                                <img src="{% static 'restaurants/img/no-image.jpg' %}" class="img-fluid" style="width: 60px;">
                            {% endif %}
                        </td>
                        <td class="bg-light">{{eat.created}}</td>
                        <td>{{eat.updated}}</td>
                    </tr>
                </tbody>
            </table>
            <h2 style="font-weight: bold;">Descripcion:</h2>
            <p>{{eat.description}}</p>
        </div>
    </div>
</div>

{% endblock %}