{% extends 'core/base_detail.html' %}

{% load static %}

{% block extra_head %}
href="{% static 'core/css/destinations.css' %}"
{% endblock %}

{% block title %}Destinos{% endblock %}
{% block content %}
<!--SECTION ONE INFO-->
<section class="container">
    <!--Title-->
    <div class="row">
        <div class="col-12 text-center my-5">
            <h2 class="text-info">{{destination.name}}</h2>
        </div>
    </div>
    <!--Description-->
    <div class="row">
        <!--Article text-->
        <article class="col-12 col-lg-6">
            <!--Alert-->
            {%if destination.suitable_disabled == True %}
                <p class="alert alert-success" role="alert">Apto para discapacitados</p>
            {% elif destination.suitable_disabled == False %}
                <p class="alert alert-warning" role="alert">No apto para discapacitados</p>
            {% endif%}
            <p class="text-muted p_info">
                {{destination.description}}
            </p>
            <p class="text-muted p_info">- A {{destination.distance}} kilometros de Curautín.</p>
        </article>
        <!--Big image-->
        <div class="col-12 col-lg-6 ful-img" id="fulImgBox">
            <img src="{{destination.mainImage.url}}" class="img-fluid shadow mb-5 bg-body rounded" id="fulImg" alt="...">
        </div>

    </div>
    <!--images-->
    <div class="row box-imgages d-flex justify-content-center">
        {% if destination.image1 %}
            <img src="{{ destination.image1.url }}" class="img-fluid col-3 col-lg-2 m-1" onclick="updateImages('{{ destination.image1.url }}')" alt="imagen destino">
        {% endif %}
    
        {% if destination.image2 %}
            <img src="{{ destination.image2.url }}" class="img-fluid col-3 col-lg-2 m-1" onclick="updateImages('{{ destination.image2.url }}')" alt="imagen destino">
        {% endif %}
    
        {% if destination.image3 %}
            <img src="{{ destination.image3.url }}" class="img-fluid col-3 col-lg-2 m-1" onclick="updateImages('{{ destination.image3.url }}')" alt="imagen destino">
        {% endif %}
    
        {% if destination.image4 %}
            <img src="{{ destination.image4.url }}" class="img-fluid col-3 col-lg-2 m-1" onclick="updateImages('{{ destination.image4.url }}')" alt="imagen destino">
        {% endif %}
    
        {% if destination.image5 %}
            <img src="{{ destination.image5.url }}" class="img-fluid col-3 col-lg-2 m-1" onclick="updateImages('{{ destination.image5.url }}')" alt="imagen destino">
        {% endif %}
    </div>
    <a href="{% url 'destinations:destination-list-user' %}" class="btn btn-info mb-2">Volver</a>
</section>
<script>
    function updateImages(src) {
        var mainImage = document.getElementById('fulImg');
        var fulImgBox = document.getElementById('fulImgBox');

        mainImage.src = src;

        fulImgBox.innerHTML = '<img src="' + src + '" class="img-fluid shadow mb-5 bg-body rounded" id="fulImg" alt="...">';
    }
</script>
{% endblock %}