/*HEADER*/
.header{
    background-image: url(../img/bg-header-events.jpg) ;
    background-position: center;
    background-size: cover;
}
.img-logo-page{
    width: 80px;
}

.dropdown-item:hover{
    background-color: #158091; 
    color: inherit; 
}

.linear-white::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.vh-50{
    height: 50vmin;
}

/*SECTION ONE CARDS EVENTS*/
.box-card-img{
    width: 16rem;
    height: 11rem;
}

.box-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*SECTION TWO FOOTER*/
.bx{
    font-size: 1.5rem;
}

.bxl-whatsapp:hover{
    color: rgb(42, 177, 42);
}
.bxl-facebook:hover{
    color: blue;
}
.bxl-instagram:hover{
    color: rgb(216, 153, 71);
}

/*MEDIA QUERIES*/
@media screen and (max-width: 440px){
    .vh-50{
        height: 50vmax;
    }
}